In [1]:
import numpy as np
import pandas as pd
import zipfile 
import os
import matplotlib.pyplot as plt
from datetime import datetime, date, timedelta
import scipy.stats as stats
import warnings
warnings.filterwarnings("ignore")

# Question 1
Adopt a constant rate liquidation plan.    
That is, we will spread out the liquidation trade evenly from 10:00 AM to 3:00 PM.    
What is value of the performance criteria after liquidation at 3:00 PM?

In these cases, I assume that trading volumes can be in floating format.

In [2]:
path = '/Users/heather0109/Downloads/client_2341_daniel/eq_trades_1min/'

In [3]:
unzip_file = zipfile.ZipFile(path+'20200324.zip', 'r')
#unzip_file.namelist()
open_file = unzip_file.open('20200324/B/BAC.csv')
df = pd.read_csv(open_file)
df

,Date,Ticker,TimeBarStart,FirstTradePrice,HighTradePrice,LowTradePrice,LastTradePrice,VolumeWeightPrice,Volume,TotalTrades
0,20200324,BAC,04:00,19.00,19.00,18.96,18.96,18.98695,613,4
1,20200324,BAC,04:01,19.00,19.00,18.96,18.96,18.99990,41485,10
2,20200324,BAC,04:02,19.03,19.14,19.03,19.14,19.06008,1051,7
3,20200324,BAC,04:03,19.08,19.10,19.08,19.10,19.08051,391,4
4,20200324,BAC,04:04,19.10,19.50,19.10,19.50,19.43974,2286,10
...,...,...,...,...,...,...,...,...,...,...
867,20200324,BAC,19:55,20.87,20.90,20.87,20.90,20.88272,2605,13
868,20200324,BAC,19:56,20.87,20.90,20.86,20.90,20.88627,2415,14
869,20200324,BAC,19:57,20.95,21.00,20.91,20.95,20.96667,1837,13
870,20200324,BAC,19:58,20.90,20.90,20.87,20.89,20.88068,1099,8
871,20200324,BAC,19:59,20.87,20.89,20.87,20.88,20.87569,1063,10

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 0 to 871
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               872 non-null    int64
 1   Ticker             872 non-null    object
 2   TimeBarStart       872 non-null    object
 3   FirstTradePrice    872 non-null    float64
 4   HighTradePrice     872 non-null    float64
 5   LowTradePrice      872 non-null    float64
 6   LastTradePrice     872 non-null    float64
 7   VolumeWeightPrice  872 non-null    float64
 8   Volume             872 non-null    int64
 9   TotalTrades        872 non-null    int64
dtypes: float64(5), int64(3), object(2)
memory usage: 68.2+ KB

In [5]:
df['Date'] =  df['Date'].apply(lambda x: str(x))
df['datetime'] = pd.to_datetime(df['Date'] + ' ' + df['TimeBarStart'])
df

,Date,Ticker,TimeBarStart,FirstTradePrice,HighTradePrice,LowTradePrice,LastTradePrice,VolumeWeightPrice,Volume,TotalTrades,datetime
0,20200324,BAC,04:00,19.00,19.00,18.96,18.96,18.98695,613,4,2020-03-24 04:00:00
1,20200324,BAC,04:01,19.00,19.00,18.96,18.96,18.99990,41485,10,2020-03-24 04:01:00
2,20200324,BAC,04:02,19.03,19.14,19.03,19.14,19.06008,1051,7,2020-03-24 04:02:00
3,20200324,BAC,04:03,19.08,19.10,19.08,19.10,19.08051,391,4,2020-03-24 04:03:00
4,20200324,BAC,04:04,19.10,19.50,19.10,19.50,19.43974,2286,10,2020-03-24 04:04:00
...,...,...,...,...,...,...,...,...,...,...,...
867,20200324,BAC,19:55,20.87,20.90,20.87,20.90,20.88272,2605,13,2020-03-24 19:55:00
868,20200324,BAC,19:56,20.87,20.90,20.86,20.90,20.88627,2415,14,2020-03-24 19:56:00
869,20200324,BAC,19:57,20.95,21.00,20.91,20.95,20.96667,1837,13,2020-03-24 19:57:00
870,20200324,BAC,19:58,20.90,20.90,20.87,20.89,20.88068,1099,8,2020-03-24 19:58:00
871,20200324,BAC,19:59,20.87,20.89,20.87,20.88,20.87569,1063,10,2020-03-24 19:59:00

In [6]:
delta = timedelta(minutes=1)

In [7]:
#check missing value
abs(df.index[df['TimeBarStart']=='10:00'][0] - df.index[df['TimeBarStart']=='15:00'][0])
alpha = 0.00001
coef = 0.00001
df[df['TimeBarStart']=='10:00']['datetime'] + delta
df[df['TimeBarStart']=='10:00']['datetime'].iloc[0] + delta
df[df['TimeBarStart']=='10:00']['VolumeWeightPrice'].iloc[0]
s = df[df['TimeBarStart']=='15:00']['datetime'].iloc[0] - df[df['TimeBarStart']=='10:00']['datetime'].iloc[0] 
s.total_seconds() / 60

300.0

In [24]:
class TradingSimu():
    
    def __init__(self, df=df, start='10:00', end='15:00', sell_volu=200000, alpha=0.00001, coef=0.00001, X0=0, Q0=400000,delta=delta):
        '''
        self.start = 2020-03-24 10:00:00
        '''
    
        self.df = df
        self.start = df[df['TimeBarStart']==start]['datetime'].iloc[0]
        #self.timepass = self.start
        self.end = df[df['TimeBarStart']==end]['datetime'].iloc[0]
        self.N = (self.end - self.start).total_seconds() / 60
        self.sell_volu = sell_volu
        self.alpha = alpha
        self.coef = coef
        self.Xt = X0
        self.Q0 = Q0
        self.Qt = Q0
        #self.shares = sell_volu / self.N
        #self.count = 0
        #df[df['datetime']==time]['Volume'].iloc[0]
        self.p3_penlty = 0
        self.p2 = 0
        self.delta=delta
        
        
    def St(self, time, stypes=True):
        vwp = self.df[self.df['datetime']==time]['VolumeWeightPrice'].iloc[0]
        if stypes:
            price = vwp
            return price
        else: #ùëÜùë° = ùúáùë° ‚àí ùõºùëÑùë°
            price = vwp - self.alpha * self.Qt
            return price
        
       
    def shares(self, time, limit=False):
        '''
        I assume 
        Question 1 means the same trading volumns every trading minute
        Question 2 means letting personal trading volumne: min(Qurstion 1, 0.1*trading_volume) 
        '''
        
        if limit == False:
            
            return self.sell_volu / self.N
        
        else:
            result = min(self.sell_volu / self.N, 
                        self.df[self.df['datetime']==time]['Volume'].iloc[0] * 0.1)
            return result
            
            
    def calculator(self, time, stypes=True, limit=False):
        '''
        stypes: true means vwp; False means ùëÜùë° = ùúáùë° ‚àí ùõºùëÑùë°
        '''    
        self.Qt -= self.shares(time, limit)
        
        St = self.St(time, stypes)
        
        self.Xt += St * self.shares(time, limit)
        self.p2 = self.Qt * (St - alpha * self.Qt)
        self.p3_penlty += self.coef * (self.Qt) ** 2
        
        result = self.Xt + self.p2 - self.p3_penlty        
        return result
    
        
    def simu_path(self, stypes=True, limit=False): #stypes means St
        time = self.start + self.delta
        result = 0
        while time <= self.end:
            result = self.calculator(time, stypes, limit)
            time += self.delta
        return result

In [25]:
Q1 = TradingSimu() 
Q1.simu_path()

-271672083.0088846

In [26]:
#df.loc[(df['TimeBarStart'] >= '10:01') & (df['TimeBarStart'] <= '15:00')]

# Question 2
Now, let‚Äôs assume you will cap your trade volume each minute to 10% of observed trading volume of that minute-bar    (note, in reality you, can‚Äôt observe the traded volume ahead of your trading, so suppose the trading volume were the bid size).    
Will you be successful at liquidating all 200,000 shares by 3:00 PM? What will the value of performance criteria be at 3:00 PM, even if you are not successful?

In [27]:
Q2 = TradingSimu() 
Q2.simu_path(limit=True)

-271672083.0088846

**Yes I'm successful at liquidating**

# Question 3
Now, let‚Äôs change the price impact assumption.  Suppose the reported volume-weighted average price is the ‚Äúfundamental price‚Äù, Ôªømu subscript tÔªø The traded price is ÔªøS subscript t equals mu subscript t minus alpha Q subscript tÔªø, where ÔªøQ subscript tÔªø is the cumulative volume sold up to (note this means that the impact is assessed every time you trade and is cumulative). And ÔªøalphaÔªøis 0.00001 as before. What are the values of the performance criteria for the liquidation plan in Q1 (constant rate of liquidation) [2 points] and Q2 (liquidation capped at 10% of observed volume) [3 points]

In [28]:
Q3_1 = TradingSimu()
Q3_1.simu_path(stypes=False)

-272671416.3422179

In [29]:
Q3_2 = TradingSimu() 
Q3_2.simu_path(stypes=False, limit=True)

-272671416.3422179

# Test

In [30]:
Q2.Qt

199999.99999999691

In [31]:
min(df.loc[(df['TimeBarStart'] >= '10:00') & (df['TimeBarStart'] <= '15:00')]['Volume'])

60789

In [32]:
200000 / 300

666.6666666666666

In [33]:
TradingSimu().N
TradingSimu().sell_volu

200000

In [38]:
def f(t=1):
    for i in range(10):
        t = r(t)
    return t

def r(t=2):
    return t + 1
f()

11